body {
  background-image: url(../img/grid.jpg);
}

#top-header {
  background-color: #14212D;
  color: white;
}

.card {
  box-shadow: 0px 2px 10px -10px black;
}

.card-header {
  border: none;
}

.quest {
  display: none;
}

#q-card1 {
  background-color: #212F3C;
  z-index: 8;
}

#q-card2 {
  background-color: #283747;
  z-index: 7;
}

#q-card3 {
  background-color: #2E4053;
  z-index: 6;
}

#q-card4 {
  background-color: #34495E;
  z-index: 5;
}

#q-card5 {
  background-color: #5D6D7E;
  z-index: 4;
}

#q-card5 select, option {
  background-color: #5D6D7E;
  color: white;
}

#q-card6 {
  background-color: #85929E;
  z-index: 3;
}

#q-card6 select, option {
  background-color: #85929E;
  color: white;
}

#q-card7 {
  background-color: #AEB6BF;
  z-index: 2;
}

#q-card7 input{
  background-color: #AEB6BF;
  color: white;
}

#q-card8 {
  background-color: #BDC0C9;
  z-index: 1;
}

#result-div {
  display: none;
}

#epicodus-classes {
  display: none;
}

img {
  margin-top: 20px;
}

#more-coding {
  display: none;
}

#epi-img {
  border-radius: 3px;
  width: 100%;
}

.logos {
  width: 200px;
  border-radius: 200px;
}
